# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
cache/

# Static files 
staticfiles/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
